:root {
    --bg: rgba(0, 0, 0, 0.04);
    --text-color: #464646;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a[href^="/"] {
    color: var(--text-color);
    margin: 5px 0;
    text-decoration: none;
    transition: 200ms all;
}

a[href^="/"]:hover {
    font-weight: bold;
}

input {
    margin-bottom: 16px;
}

main {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    align-items: stretch;
}

.app {
    flex: 1;
}

.menu {
    display: flex;
    flex-direction: column;

    min-height: 90vh;
    padding: 16px;
}

.right-menu {
    align-items: center;
}

footer {
    padding: 16px;
    background-color: var(--bg);
}

hr {
    width: 100%;
    border: 0px;
    border-top: 1px solid white;
}

.mantine-drawer-header {
    padding: 15px;
}

.mobile-header {
    display: flex;
    padding: 0 16px;
    justify-content: space-between;
    background-color: var(--bg);
}